<div class="p-2  border-3 border-secondary-500 m-2 surface-overlay font-bold ">

    <div class="m-3">
        <h3>Convert old JSON structure to new JSON structure </h3>
    </div>

    <div class="flex flex-row">
        <div class="m-3">
            <label for="entity"></label>
            <p-dropdown [options]="entities" [(ngModel)]="selectedEntity" optionValue="name" optionLabel="name"
                placeholder="Select an entity"
                (onChange)="jsonToConvert=null; convertedJson=null; convertedJsonView=''; userId=null" />
        </div>

        <div class="m-3">
            <p-button label="Transform Tracks" (onClick)="routeToTracksTransform()" ></p-button>

        </div>

    </div>

    <div class="m-3" *ngIf="selectedEntity==='Activity'">
        <label>Enter UserId : </label>
        <input type="text" pInputText [(ngModel)]="userId" />
    </div>

    <div class="grid">
        <div class="col">
            <div class="text-center p-3 border-2  border-round-sm ">
                <label>Enter Entity Json to Convert :</label>
                <textarea rows="20" cols="70" pInputTextarea [(ngModel)]="jsonToConvert" [disabled]="!selectedEntity">
            </textarea>
            </div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-2  border-round-sm ">
                <label>Converted Entity Json :</label>
                <textarea rows="20" cols="70" pInputTextarea [(ngModel)]="convertedJsonView" disabled>
            </textarea>
            </div>
        </div>
    </div>

    <div class="flex justify-content-around">
        <button pButton pRipple label="Convert" (click)="convertJson()" class="p-button-success"
            [disabled]="!jsonToConvert">
        </button>

        <p-button label="Download Converted Json" [disabled]="!convertedJsonView" severity="info"
            (onClick)="downloadJson()" />
    </div>


</div>